# torch==2.4.0
# torchvision==0.19.0
numpy<2.0
opencv-python
trimesh
einops
Pillow
safetensors
huggingface_hub
transformers<5
diffusers
hydra-core
scikit-image
imageio[ffmpeg]
diso
jaxtyping
accelerate
fast_simplification
typeguard
natsort
